<link rel="stylesheet" href="https: //maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<div class="adminHomeBody">
<div >
    <div class="row">
        <div >
           
                        <nav class="navbar navbar-expand-lg " id="adminHomeNav">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="#">Impressor</a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link " routerLink="/admin/addcenter">Add Center</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" routerLink="/admin/centerprofile">Center Profile</a>
                                </li>
                            </ul>
                            
                                    <div class="topnav-right">
                                    <button class="form-control me-2" routerLink="/logout">Logout</button>
                                </div>  
                        </div>

                    </div>
                </nav>
        </div>
    </div>
</div>
<h1 align="center">Impressor Printer Service</h1>
<p align="center">We are specialized in all printer service </p>
</div>
