#MyBookingNav{
    background-color: #9A208C;
}
#MyBookingBody{
    background-image: url("https://tse1.mm.bing.net/th/id/OIP.3LPni5yi4LSWb0J7kfpo_QAAAA?pid=ImgDet&w=191&h=191&c=7&dpr=1.5");
    background-repeat: no-repeat;
    background-size: 100%;
}