
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

<div class="image">
     <img  src="https://media.istockphoto.com/id/1144360999/vector/printer-smiling-happily.jpg?s=612x612&w=0&k=20&c=KK5tN6tHNyS4cyvFwNqzIfMZHY4Z8WwAH3NFi91m-T4=" alt="Trulli" width="700" height="620">
       
     </div>
<div class="container">
    <div class="row justify-content-center mt-5">
    <div class="col-md-4">
    <div class="card">
    <div class="card-header text-center" style="color: #088395;">
    <h4>Login</h4>
    </div>
    <div class="card-body">

        <form class="form" #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">

            <div class="form-group">
                <label for="Email">Email </label>
                <input [(ngModel)] = "login.email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" name="email"   type="text" class="form-control" id="email" placeholder="Enter email" required #email="ngModel">
                <span *ngIf="email.invalid && email.touched || userForm.submitted" style="color:red">please enter the email</span>
                <div *ngIf="email.errors?.['pattern']" style="color:red">
                    not an email address
                  </div>
                  </div>
                
                <div class="form-group">
                <label for="password">Password</label>
                <input [(ngModel)] = "login.password" minlength="8"  name="password"  type="password" class="form-control" id="password" placeholder="Enter password" required #password="ngModel">
                <span *ngIf="password.invalid && password.touched || userForm.submitted" style="color:red">please enter vaild password</span>
                <div *ngIf="password.errors?.['minlength']" style="color:red">
                    Name must be at least 8 characters long.
                  </div>
                </div>
  
                <button type="submit" [disabled]="userForm.invalid" class="btn btn-primary btn-block" id="loginButton" >Login</button>
    </form>
    <p>New User/admin?<a routerLink="/user/signup" id="signupLink">Sign Up</a></p>
    </div>
    </div>
    </div>
    </div>
    </div>
   
  
  