<link rel="stylesheet" href="https: //maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" >
<div class="centerProfileBody">
    <div class="row">
        <div>
            <nav class="navbar navbar-expand-lg " id="centerprofileNav">
                <div class="container-fluid">
                    <a class="navbar-brand"  style="color: #F5C6EC; font-weight: bold;">IMPRESSOR</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link " routerLink="/admin/addcenter" style="color: black;">Add Center</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" routerLink="/admin/centerprofile" style="color: black;">Center Profile</a>
                            </li>
                        </ul>
                        
                                <div class="topnav-right">
                                <button class="form-control me-2" routerLink="/logout" style="color: black;">Log Out</button>
                            </div>  
                    </div>

                </div>
            </nav>
            <div class="container">
                <div class="card" style="width: 18rem; ">
                    <img class="card-img-top" src="https://m.media-amazon.com/images/I/615xeSG-XSL._SL1500_.jpg" alt="Card image cap">
                    <div class="card-body" >
                        <div>
                            <a routerLink="/admin/editcenter" class="delete"><i class="fas fa-trash fa-sm fa-2x" style="float: right; "></i></a>
                        </div>
                      <h5 class="card-title">HP</h5>
                      
                      <h6>Address:</h6>
                      <div>
                        <a routerLink="/admin/editcenter" class="edit"><i class="fas fa-edit fa-sm fa-2x"  style="float: right; "></i></a>
                        </div>
                      <h6>AvailableTiming:</h6>
                    </div>
                  </div>
                  </div>
                  

         